body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(102, 102, 102, 0.239);
    
}
.main-content {
    height: 90vh;
}
.pinktext {
    color: rgb(171, 102, 136);
}

.greentext {
    font-family: 'Lucida Sans', sans-serif;
    color: rgb(184, 83, 100);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(171, 102, 136);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}